* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item-img img {
  margin-left: 100px;
  margin-top: 100px;
}

.login-pass {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.icon-eye2 {
  position: relative;
  justify-content: space-between;
  top: 50%;
}

.container-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer-logout {
  margin-top: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
}
